:root {
--text: rgb(255, 255, 255);
--background: rgb(0, 0, 0);
--box: rgb(14, 14, 14); 
--box-light: rgb(28, 28, 28); 
--primary: rgb(204, 201, 46);
--secondary: rgb(154, 174, 40);
--accent: rgb(212, 210, 78);

--shadow-s:
inset 0 1px 2px #ffffff30,
0 1px 2px #00000030,
0 2px 4px #00000015;
--shadow-m:
inset 0 1px 2px #ffffff50,
0 2px 4px #00000030,
0 4px 8px #00000015;
--shadow-l:
inset 0 1px 2px #ffffff70,
0 4px 6px #00000030,
0 6px 10px #00000015;
}

.dark-mode {
  --text: rgb(0,0,0),
  --background: rgb(255, 255, 255),
  --box: rgb(241, 241, 241),
  --box-light: rgb(227, 227, 227)
  --primary: rgb(204, 201, 46);
  --secondary: rgb(154, 174, 40);
  --accent: rgb(212, 210, 78);
}

@font-face {
    font-family: inter;
    src: url(Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: momo;
    src: url(Momo_Trust_Display/MomoTrustDisplay-Regular.ttf);
}

.body {
    background-image: radial-gradient(circle, var(--box-light) 60%, var(--background) 80%);
    margin: 0;
    transition: all 0.3s;
}

.navbar {
  width: 100%;
  background-color: var(--box);
  overflow: auto;
  border-color: var(--box-light);
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px;
}

.active {
  background-color: var(--primary);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.3s;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 15px;
  color: var(--text);
  text-decoration: none;
  font-size: 17px;
  font-family: momo;
  margin: 5px;
  border-width: 1px;
  transition: all 0.3s;
  border-radius: 5px;
  background-color: var(--box-light);
  box-shadow: var(--shadow-s);
}

.navbar button {
  float: left;
  text-align: center;
  padding: 15px;
  color: var(--text);
  text-decoration: none;
  font-size: 17px;
  font-family: momo;
  margin: 5px;
  border-width: 1px;
  transition: all 0.3s;
  border-radius: 5px;
  background-color: var(--box-light);
  box-shadow: var(--shadow-s);
}

.navbar a:hover {
  background-color: var(--primary);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.3s;
}

.navbar button:hover {
  background-color: var(--primary);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.3s;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.title {
    color: white;
    font-family: momo;
    margin-left: auto;
    margin-top: auto;
    font-size: xx-large;
    font-weight: bolder;
    padding: 10px;
}

.intro {
  position: fixed;
  inset: 0px;
  width: fit-content;
  height: fit-content;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.3s;
  text-decoration: none;
}

.find {
  position: relative;
  inset: 0px;
  width: fit-content;
  height: fit-content;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  margin-top: 10%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}


.activelogin {
    background-color: var(--accent-dark);
    color: var(--text);
    border-radius: 5px;
}

.button {
    background-color: var(--box-light);
    color: var(--text);
    border: none;
    padding: 10px;
    font-family: momo;
    border-radius: 5px;
    box-shadow: var(--shadow-s);
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.button:hover {
    background-color: var(--box);
    color: var(--text);
    border: none;
    padding: 10px;
    font-family: momo;
    border-radius: 5px;
    box-shadow: var(--shadow-s);
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.button2 {
    background-color: var(--box-light);
    color: var(--text);
    border: none;
    padding: 10px;
    font-family: momo;
    border-radius: 5px;
    box-shadow: var(--shadow-s);
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.button2:hover {
    background-color: var(--box);
    color: var(--text);
    border: none;
    padding: 10px;
    font-family: momo;
    border-radius: 5px;
    box-shadow: var(--shadow-s);
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.searchbox {
  float: left;
  text-align: left;
  padding: 10px;
  color: var(--text);
  text-decoration: none;
  font-size: 17px;
  font-family: momo;
  margin: 10px;
  border-width: 1px;
  transition: all 0.3s;
  border-style: dashed;
  border-radius: 5px;
  background-color: var(--box);
  transition: all 0.3s;
  color: white;
  box-shadow: var(--shadow-s);
}

.searchbox:hover {
  background-color: var(--box-light);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s;
}

.distro {
  display: inline-block;
  background-color: var(--box);
  color: white;
  border-radius: 15px;
  font-family: inter;
  box-shadow: var(--shadow-l);
}

.distro h1 {
  background-color: var(--box-light);
  color: var(--text);
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-style: solid;
  border-color: var(--background);
  box-shadow: var(--shadow-l);
}
.info {
  display: grid;
  background-color: var(--box-light);
  margin: 10px;
  padding: 2px;
  border-radius: 10px;
  font-family: momo;
  border-style: dashed;
  border-width: 1px;
  box-shadow: var(--shadow-m);
}

.info p1 {
  margin: 5px;
}

.grid {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-rows: auto;
  grid-auto-flow: row;
  column-gap: 10px;
  row-gap: 10px;
}

@media screen and (max-width: 960px) {
  .grid {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-template-rows: auto;
    grid-auto-flow: row;
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-template-rows: auto;
    grid-auto-flow: row;
    column-gap: 10px;
    row-gap: 10px;
  }
}

.buttondistro {
  display: grid;
  grid-auto-flow: column;
  color: white;
  background-color: var(--box-light);
  padding: 2px;
  border-radius: 7px;
  margin: 10px;
  font-family: momo;
  border-style: dashed;
  border-width: 1px;
  box-shadow: var(--shadow-s);
}

.buttondistro a {
  display: grid;
  grid-auto-flow: column;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-family: momo;
  text-align: center;
  text-decoration: none;
  margin: 0;
  border-radius: 5px;
  transition: all 0.3s;
}

.buttondistro a:hover {
  display: grid;
  grid-auto-flow: column;
  color: white;
  background-color: var(--box);
  font-family: momo;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  border-radius: 7px;
  transition: all 0.3s;
}

.distro img {
    
    max-width: calc(100% - 20px); 
    height: auto;    
    display: block;  
    

    margin-top: 10px; 
    margin-bottom: 10px;
    

    margin-left: 10px;
    margin-right: 10px;
    
    border-radius: 5px; 
}

.basedondistro {
  display: grid;
  grid-auto-flow: column;
  color: white;
  background-color: var(--box-light);
  padding: 2px;
  border-radius: 7px;
  margin: 10px;
  font-family: momo;
  border-style: dashed;
  border-width: 1px;
  box-shadow: var(--shadow-s);
  text-align: center;
}

.adddistro {
  display: grid;
  grid-auto-flow: column;
  background-color: var(--box);
  color: white;
  border-radius: 15px;
  font-family: inter;
  box-shadow: var(--shadow-l);
}

.adddistro h1 {
  background-color: var(--box-light);
  color: var(--text);
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-top-left-radius: 15px;
  border-color: var(--background);
  box-shadow: var(--shadow-l);
}

.adddistro p1 {
  color: var(--text);
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-top-right-radius: 15px;
  border-color: var(--background);
}

.form {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: (2, 1fr);
  background-color: var(--box-light);
  color: var(--text);
  font-family: momo;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .form {
    display: grid;
    grid-auto-flow: row;
    background-color: var(--box-light);
    color: var(--text);
    font-family: momo;
    padding: 5px;
}
}

.form input[type=text] {
  background-color: var(--box);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border-style: dashed;
  box-shadow: var(--shadow-s);
  color: white;
  font-family: inter;
}